---
layout: default
---

<article>
  <div>
    <h1>{{ page.title }}</h1>
    <time datetime="{{ page.last_modified_at | date_to_xmlschema }}">{% if page.type != 'pages' %}
      Last updated on {{ page.last_modified_at | date: "%B %-d, %Y" }}
      {% endif %}
    </time>
  </div>

  <div id="notes-entry-container">
    <content>
      {{ content }}

    </content>

    <side style="font-size: 0.9em">
      <h3 style="margin-bottom: 1em">연관된 노트</h3>
      {% if page.backlinks.size > 0 %}
      <div style="display: grid; grid-gap: 1em; grid-template-columns: repeat(1fr);">
        {% for backlink in page.backlinks %}
        <div class="backlink-box">
          <a class="internal-link"
            href="{{ site.baseurl }}{{ backlink.url }}{%- if site.use_html_extension -%}.html{%- endif -%}">
            <strong>{{ backlink.title }}</strong>
          </a><br>
          <div style="font-size: 0.9em">
            {% assign preview_content = backlink.excerpt | strip_html | truncatewords: 20 %}
            {% assign preview_content = preview_content | replace: "[!note]", "" | strip %}
            {% assign preview_content = preview_content | replace: "[[", "" | replace: "]]", "" %}
            {% assign preview_content = preview_content | replace: "|", "" %}
            {{ preview_content | split: "#" | last }}
          </div>
        </div>
        {% endfor %}
      </div>
      {% else %}
      <div style="font-size: 0.9em">
        <p>
          연관된 노트가 없습니다. 추가하러 가세요.
        </p>
      </div>
      {% endif %}
    </side>
  </div>
</article>

<hr>

<p style="font-weight: bold;">AWS Universe</p>

{% include notes_graph.html %}